@charset "utf-8";

/* first, steal from Panic */

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Inconsolata", "Menlo", "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 1.2em;
}

a {
    color: #0098ff;
    text-decoration:none
}

a:visited {
    color:#005b99
}

a:hover {
    text-decoration:underline
}

/* Layout */

header h1,h2 {
        color: transparent;
        font-size: 0;
        position: relative;
        text-align: center;
        padding: 40pt 0 0 0;
    }

header h1 {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
	background-position: 50% 50%;

    -webkit-background-size: 104pt 94pt;
	-moz-background-size: 104pt 94pt;
    background-size: 104pt 94pt;
    height: 104pt;
}

header h2 {
    background-image: url(../images/tagline.svg);
    background-repeat: no-repeat;
	background-position: 50% 50%;

    -webkit-background-size: 471pt 29pt;
	-moz-background-size: 471pt 29pt;
    background-size: 471pt 29pt;
    height: 29pt;
    padding: 0 0 0 0;
}

.main {
    width: 960pt;
	margin: 0 auto;
	/* outline: 1pt solid green; */
}

.text-section {
    width: 540pt;
    margin: 40pt auto 0 auto;
    /* outline: 1pt solid orange; */
    margin-bottom: 60pt;
}

.text-section p {
    margin-bottom: 12pt;
}

.text-section h3 {
    font-size: 12pt;
}

.video-container {
    width: 960pt;
    height: 540pt;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .video {
    background-color: bisque;
} */

.footer {
    text-align: center;
    font-size: 9pt;
}

@media (prefers-color-scheme: light) {
    /* Light theme styles go here */

    body {
        color: #000;
        background-color: #FCFCF9;
    }
}

@media (prefers-color-scheme: dark) {
    /* Dark theme styles go here */

    body {
        color: #FFF;
        background-color: #343432;
    }

    header h1 {
        background-image: url(../images/logo-dark.svg);
    }

    header h2 {
        background-image: url(../images/tagline-dark.svg);
    }
}
  

@media screen and (max-width: 600pt) {

    /* header h1 {
        -webkit-background-size: 104pt 94pt;
        -moz-background-size: 104pt 94pt;
        background-size: 104pt 94pt;
        height: 104pt;
    } */
    
    header h2 {
        -webkit-background-size: 192pt 12pt;
        -moz-background-size: 192pt 12pt;
        background-size: 192pt 12pt;
        height: 10pt;
    }
    
    .main {
        width: 100%;
    }

    .text-section {
        width: 90%;
    }

}
